@media only screen and (min-width:320px){

* {
  box-sizing: border-box;

}

/*Header*/
header, section, footer {
  overflow-x: hidden;
}

  /*Header*/
  header .container-fluid .img{
    padding-left: 0;
  }

  header .navbar-nav .nav-item{
    padding-left: 0;
    white-space: nowrap;
    margin-left: 0;
  }

  header .navbar-nav .form-inline .btn{
    margin-right: 2rem;
  }

  header .container {
    padding-left: 2rem;
  }

  header .container .illustration{
    padding-top: 2rem;
    width:90%;
  }
  header .container .col-12{
    padding-left: 10%;
    padding-bottom: 25%;
  }

  /*Title throughout */
  header .container .heading,.section-1 .body-left .body-title,.section-2 .container .title-section2{
      font-size: calc(2rem + 0.5vw);
      width:calc(300px + 0.5vw);
      color:#191970;
  }

  .section-3 .head{
    margin-left: 2rem;
    color:#191970;
  }

  /*paragraph*/
  header  .row  .para-1, .section-1 .body-left .para-2,.section-1 .container .body-paragraph{
    padding-top: 2rem;
    color:gray;
    width:calc(80% + 0.1vw);
    padding-left: 2rem;
    padding-bottom: 2rem;

  }

  header .row .form-row .btn,header .container-fluid .form-inline .btn{
    background-color: #ff4500;
    border: none;
    border-radius: 30px;
  }



  /*Section1*/
  .section-1 .body-left .para-2{
    width:90%;
  }
   .section-1 .col-12 .btn,.section-1 .container1 .side .btn, .section-2 .btn,footer .box .btn{
    background-color: #ff4500;
    border: none;
    margin-left: 50px;
    border-radius: 30px;
  }

  .section-1 .container1 .side .btn{
    margin-left: 0;
  }

  .section-1 .container1 .side .body-paragraph{
    width: 250px;
    margin-left: 1rem;
  }

  .team{
    padding-left: 10px;
  }

  .section-2 .card{
    margin-bottom: 2rem;
  }

  .section-2 .team{
    padding-top:2rem;
  }
  .section-2 .btn{
    margin-left: 1.5rem;
    margin-bottom: 2rem;
  }


  .section-3 .form-row{
    padding-top: 5%;
  }

  .section-3{
    background-color: #ff4500;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }


  .section-3 .btn{
    background-color: white;
    color:#ff4500;
    border:none;
    margin-left: 2rem;
    border-radius: 30px;
  }



  /*footer*/
  footer{

    background-color: black;
  }
  ul{
    list-style-type: none;
  }
  ul,.icon,.Copyright{
    color: white;
  }
  footer .box .form-control{
    margin-top: 2rem;
    border-radius: 30px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    width:200px;
  }
  .footer-secondary-nav{
    padding-left: 0;
  }
  .wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 50px;
  grid-template-rows: 165px 120px 80px 80px ;
  }
.wrapper div:nth-child(4) {
   grid-column: 1/-1;
   grid-row: 1/7 ;
   padding-right: 5px;
   margin-right: 0;
}
.wrapper div:nth-child(2) {
 grid-column: 1;
 grid-row: 2/7 ;

}
.wrapper div:nth-child(3) {
 grid-column: 2;
 grid-row: 2/7 ;

}
.wrapper div:nth-child(1) {
 grid-column: 1/-1;
 grid-row: 4/7 ;

}
footer .img{
  padding-left: 90px;
  padding-top: 30px;
}

.wrapper div:nth-child(5) {
 grid-column: 1/-1;
 grid-row: 3/7 ;
 padding-left: 10px;
}

.social-media{
  margin: 20px;
}


.wrapper div:nth-child(8) {
 grid-column: 1/-1;
 grid-row: 5/7 ;
 text-align: center;
}

}

@media (min-width: 321px) and (max-width: 400px) {
  header .container .heading,.section-2 .container .title-section2{
      width:360px;
  }

  .section-1 .body-left .body-title{
    margin-left:20px;
  }

  .section-1 .container1 .side{
    margin-left: 2rem;
  }
  .section-3 .head{
    margin-left: 4rem;
  }

  footer .form-inline{
    margin-left: 2rem;
  }

  footer .icon{
    margin-left: 1rem;
  }


}

/*425 px*/
  @media (min-width: 400px) and (max-width: 600px){

  header .container .illustration{
    width:100%;
  }

  header .container .heading,.section-2 .container .title-section2,.section-1 .body-left .body-title{
    margin-left: 30px;
  }

  .section-1 .container1 .side{
    margin-left: 2rem;
  }
  .section-3 .head{
    margin-left: 4rem;
  }
  header .row .form-row .btn,.section-2 .btn,.section-3 .btn{
    margin-left: 30px;
  }

  footer .form-inline{
    margin-left: 40px;
  }
  footer .icon{
    margin-left: 2rem;
  }

}


@media only screen and (min-width: 600px) {

  header .container .illustration{
    width:110%;
  }

  header .container .heading,.section-2 .container .title-section2,.section-1 .body-left .body-title{
    margin-left: 40px;
    /* width:450px; */
  }

  .section-1 .container1 .side{
    margin-left: 6rem;
  }

  .section-1 .container1 .side .body-paragraph{
    width:350px;
  }
  header .row .form-row .btn,.section-2 .btn,.section-3 .btn{
    margin-left: 70px;
  }
  .section-3 .head{
    margin-left: 4rem;
  }

  .wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px 200px 200px;
  grid-template-columns:200px 200px ;
  }

  .wrapper div:nth-child(4) {
     grid-column: 2;
     grid-row: 2/3 ;
     padding-right:0;
     margin-right: 0;
  }

  footer .wrapper .box .form-inline .input-group-prepend .col .btn{
    margin-left: 1rem;
  }

  footer .img{
    padding-left: 2rem;
  }
  .wrapper div:nth-child(2) {
   grid-column: 2;
   grid-row: 1/3 ;
   padding-top: 1.5rem;
   padding-left: 1.5rem;
  }

  .wrapper div:nth-child(3) {
   grid-column: 3;
   grid-row: 1/3 ;
   padding-top: 1.5rem;
  }

  .wrapper div:nth-child(1) {
   grid-column: 1/-1;
   grid-row: 1 ;

  }
  .wrapper div:nth-child(5) {
   grid-column: 1;
   grid-row: 2/3 ;
   margin: 0;
   padding-left: 2rem;
  }

  footer .box .form-inline .form-control{
    margin-top: 0;
  }

  .social-media{
    margin: 5px;
  }
  .wrapper{
    padding-top: 2rem;
  }
  .wrapper div:nth-child(8) {
   grid-column: 2;
   grid-row: 3/3 ;
   padding-top: 2rem;
   margin-left: 6rem;
  }


}
